| This is a confirmation for your reservation with #{@reservation.restaurant.name},
| at #{@reservation.starts_at}. You can update or cancel this reservation with the confirmation
| number #{link_to @reservation.id, @reservation}. Thank you for your business!
